{% extends "layout.html" %}
{% block content %}
    <div class="container">
    	<h3 class="text-center">Hashtag: {{hashtag}}</h3>
    	<br>
		<hr style="height:2px;border:none;color:#333;background-color:#333;">
		<br>
		<div class="row">
      		<div class="col-md-4">
        		<h4>Time</h4>
        		<p>This column chart shows the number of tweets with #{{hashtag}} with respect to the hour tweet posted.</p>
      		</div>
      		<div class="col-md-8">
 				<div id="chartContainerhour" style="height: 200px; width: 100%;"></div>
      		</div>
    	</div>


		<hr>
		<div class="row">
      		<div class="col-md-4">
        		<h4>Month</h4>
        		<p>This column chart shows the number of tweets with #{{hashtag}} with respect to the month tweet posted.</p>
      		</div>
      		<div class="col-md-8">
 				<div id="chartContainermonth" style="height: 200px; width: 100%;"></div>
	
      		</div>
    	</div>


		<hr>
		<div class="row">
      		<div class="col-md-4">
        		<h4>Sentiment</h4>
        		<p>This pie chart shows the percentage of the sentiment of tweets using polarity.</p>
      		</div>
      		<div class="col-md-8">
 				<div id="chartContainersentiment" style="height: 200px; width: 100%;"></div>
	
      		</div>
    	</div>


		<hr>
		<div class="row">
      		<div class="col-md-4">
        		<h4>Mentions</h4>
        		<p>This column chart shows the most common users that are mentioned in these tweets with this #{{hashtag}}.</p>
      		</div>
      		<div class="col-md-8">
 				<div id="chartContainermentions" style="height: 200px; width: 100%;"></div>
	
      		</div>
    	</div>


		<hr>
		<div class="row">
      		<div class="col-md-4">
        		<h4>Hashtags</h4>
        		<p>This column chart shows the most common hashtags that are used in these tweets with this #{{hashtag}}.</p>
      		</div>
      		<div class="col-md-8">
 				<div id="chartContainerhashtags" style="height: 200px; width: 100%;"></div>
	
      		</div>
    	</div>


		<hr>
		<div class="row">
      		<div class="col-md-4">
        		<h4>Users</h4>
        		<p>This column chart shows the most common users that are posted tweets with this #{{hashtag}}.</p>
      		</div>
      		<div class="col-md-8">
 				<div id="chartContainerusers" style="height: 200px; width: 100%;"></div>
      		</div>
    	</div>		
    </div>

	









	<script>

		window.onload = function () {

	function usersFunction() {
	  var usersarr;
	  if ({{userslength}}>=1 && {{userslength}} < 3) {
	    usersarr=[
	    		{ label: "{{userslist[0][0]}}",  y: {{userslist[0][1]}}  }
		    	
		    	]
	  }
	  else if ({{userslength}}>=3 && {{userslength}} < 5) {
	    usersarr=[
	    		{ label: "{{userslist[0][0]}}",  y: {{userslist[0][1]}}  },
		    	{ label: "{{userslist[1][0]}}",  y: {{userslist[1][1]}}  },
		    	{ label: "{{userslist[2][0]}}",  y: {{userslist[2][1]}}  }
		    	
		    	]
	  }
	  else if ({{userslength}}>=5 && {{userslength}} < 10) {
	    usersarr=[
	    		{ label: "{{userslist[0][0]}}",  y: {{userslist[0][1]}}  },
		    	{ label: "{{userslist[1][0]}}",  y: {{userslist[1][1]}}  },
		    	{ label: "{{userslist[2][0]}}",  y: {{userslist[2][1]}}  },
		    	{ label: "{{userslist[3][0]}}",  y: {{userslist[3][1]}}  },
		    	{ label: "{{userslist[4][0]}}",  y: {{userslist[4][1]}}  }
		    	]
	  } 
	  else if({{userslength}} >=10 && {{userslength}} <15){
	  	usersarr =[
	  			{ label: "{{userslist[0][0]}}",  y: {{userslist[0][1]}}  },
		    	{ label: "{{userslist[1][0]}}",  y: {{userslist[1][1]}}  },
		    	{ label: "{{userslist[2][0]}}",  y: {{userslist[2][1]}}  },
		    	{ label: "{{userslist[3][0]}}",  y: {{userslist[3][1]}}  },
		    	{ label: "{{userslist[4][0]}}",  y: {{userslist[4][1]}}  },
		    	{ label: "{{userslist[5][0]}}",  y: {{userslist[5][1]}}  },
		    	{ label: "{{userslist[6][0]}}",  y: {{userslist[6][1]}}  },
		    	{ label: "{{userslist[7][0]}}",  y: {{userslist[7][1]}}  },
		    	{ label: "{{userslist[8][0]}}",  y: {{userslist[8][1]}}  },
		    	{ label: "{{userslist[9][0]}}",  y: {{userslist[9][1]}}  }
	  	]
	  }
	  else if({{userslength}} >= 15) {
	   	usersarr= [
		    	{ label: "{{userslist[0][0]}}",  y: {{userslist[0][1]}}  },
		    	{ label: "{{userslist[1][0]}}",  y: {{userslist[1][1]}}  },
		    	{ label: "{{userslist[2][0]}}",  y: {{userslist[2][1]}}  },
		    	{ label: "{{userslist[3][0]}}",  y: {{userslist[3][1]}}  },
		    	{ label: "{{userslist[4][0]}}",  y: {{userslist[4][1]}}  },
		    	{ label: "{{userslist[5][0]}}",  y: {{userslist[5][1]}}  },
		    	{ label: "{{userslist[6][0]}}",  y: {{userslist[6][1]}}  },
		    	{ label: "{{userslist[7][0]}}",  y: {{userslist[7][1]}}  },
		    	{ label: "{{userslist[8][0]}}",  y: {{userslist[8][1]}}  },
		    	{ label: "{{userslist[9][0]}}",  y: {{userslist[9][1]}}  },
		    	{ label: "{{userslist[10][0]}}",  y: {{userslist[10][1]}}  },
		    	{ label: "{{userslist[11][0]}}",  y: {{userslist[11][1]}}  },
		    	{ label: "{{userslist[12][0]}}",  y: {{userslist[12][1]}}  },
		    	{ label: "{{userslist[13][0]}}",  y: {{userslist[13][1]}}  },
		    	{ label: "{{userslist[14][0]}}",  y: {{userslist[14][1]}}  }
		    ]
	  }
	  else{
	  	usersarr=[]
	  }
	  return usersarr;
	  
	}

	function mentionsFunction() {
	  var mentionsarr;
	  if ({{mentionslength}}>=1 && {{mentionslength}} < 3) {
	    mentionsarr=[
	    		{ label: "{{user_mentions[0][0]}}",  y: {{user_mentions[0][1]}}  }
		    	
		    	
		    	]
	  } 
	  else if ({{mentionslength}}>=3 && {{mentionslength}} < 5) {
	    mentionsarr=[
	    		{ label: "{{user_mentions[0][0]}}",  y: {{user_mentions[0][1]}}  },
		    	{ label: "{{user_mentions[1][0]}}",  y: {{user_mentions[1][1]}}  },
		    	{ label: "{{user_mentions[2][0]}}",  y: {{user_mentions[2][1]}}  }
		    	
		    	]
	  } 
	  else if ({{mentionslength}}>=5 && {{mentionslength}} < 10) {
	    mentionsarr=[
	    		{ label: "{{user_mentions[0][0]}}",  y: {{user_mentions[0][1]}}  },
		    	{ label: "{{user_mentions[1][0]}}",  y: {{user_mentions[1][1]}}  },
		    	{ label: "{{user_mentions[2][0]}}",  y: {{user_mentions[2][1]}}  },
		    	{ label: "{{user_mentions[3][0]}}",  y: {{user_mentions[3][1]}}  },
		    	{ label: "{{user_mentions[4][0]}}",  y: {{user_mentions[4][1]}}  }
		    	]
	  } 
	  else if({{mentionslength}} >=10 && {{mentionslength}} <15){
	  	mentionsarr =[
	  			{ label: "{{user_mentions[0][0]}}",  y: {{user_mentions[0][1]}}  },
		    	{ label: "{{user_mentions[1][0]}}",  y: {{user_mentions[1][1]}}  },
		    	{ label: "{{user_mentions[2][0]}}",  y: {{user_mentions[2][1]}}  },
		    	{ label: "{{user_mentions[3][0]}}",  y: {{user_mentions[3][1]}}  },
		    	{ label: "{{user_mentions[4][0]}}",  y: {{user_mentions[4][1]}}  },
		    	{ label: "{{user_mentions[5][0]}}",  y: {{user_mentions[5][1]}}  },
		    	{ label: "{{user_mentions[6][0]}}",  y: {{user_mentions[6][1]}}  },
		    	{ label: "{{user_mentions[7][0]}}",  y: {{user_mentions[7][1]}}  },
		    	{ label: "{{user_mentions[8][0]}}",  y: {{user_mentions[8][1]}}  },
		    	{ label: "{{user_mentions[9][0]}}",  y: {{user_mentions[9][1]}}  }
	  	]
	  }
	  else if({{mentionslength}} >= 15) {
	   	mentionsarr= [
		    	{ label: "{{user_mentions[0][0]}}",  y: {{user_mentions[0][1]}}  },
		    	{ label: "{{user_mentions[1][0]}}",  y: {{user_mentions[1][1]}}  },
		    	{ label: "{{user_mentions[2][0]}}",  y: {{user_mentions[2][1]}}  },
		    	{ label: "{{user_mentions[3][0]}}",  y: {{user_mentions[3][1]}}  },
		    	{ label: "{{user_mentions[4][0]}}",  y: {{user_mentions[4][1]}}  },
		    	{ label: "{{user_mentions[5][0]}}",  y: {{user_mentions[5][1]}}  },
		    	{ label: "{{user_mentions[6][0]}}",  y: {{user_mentions[6][1]}}  },
		    	{ label: "{{user_mentions[7][0]}}",  y: {{user_mentions[7][1]}}  },
		    	{ label: "{{user_mentions[8][0]}}",  y: {{user_mentions[8][1]}}  },
		    	{ label: "{{user_mentions[9][0]}}",  y: {{user_mentions[9][1]}}  },
		    	{ label: "{{user_mentions[10][0]}}",  y: {{user_mentions[10][1]}}  },
		    	{ label: "{{user_mentions[11][0]}}",  y: {{user_mentions[11][1]}}  },
		    	{ label: "{{user_mentions[12][0]}}",  y: {{user_mentions[12][1]}}  },
		    	{ label: "{{user_mentions[13][0]}}",  y: {{user_mentions[13][1]}}  },
		    	{ label: "{{user_mentions[14][0]}}",  y: {{user_mentions[14][1]}}  }
		    	]
	  }
	  else{
	  	mentionsarr=[]
	  }
	 return mentionsarr;
	}

		function hashtagsFunction() {
	  var hashtagsarr;
	  if ({{hashtagslength}}>=1 && {{hashtagslength}} < 3) {
	    hashtagsarr=[
	    		{ label: "{{hashtagslist[0][0]}}",  y: {{hashtagslist[0][1]}}  }
		    	
		    	]
	  } 
	  else if ({{hashtagslength}}>=3 && {{hashtagslength}} < 5) {
	    hashtagsarr=[
	    		{ label: "{{hashtagslist[0][0]}}",  y: {{hashtagslist[0][1]}}  },
		    	{ label: "{{hashtagslist[1][0]}}",  y: {{hashtagslist[1][1]}}  },
		    	{ label: "{{hashtagslist[2][0]}}",  y: {{hashtagslist[2][1]}}  }
		    	
		    	]
	  } 
	  else if ({{hashtagslength}}>=5 && {{hashtagslength}} < 10) {
	    hashtagsarr=[
	    		{ label: "{{hashtagslist[0][0]}}",  y: {{hashtagslist[0][1]}}  },
		    	{ label: "{{hashtagslist[1][0]}}",  y: {{hashtagslist[1][1]}}  },
		    	{ label: "{{hashtagslist[2][0]}}",  y: {{hashtagslist[2][1]}}  },
		    	{ label: "{{hashtagslist[3][0]}}",  y: {{hashtagslist[3][1]}}  },
		    	{ label: "{{hashtagslist[4][0]}}",  y: {{hashtagslist[4][1]}}  }
		    	]
	  } 
	  else if({{hashtagslength}} >=10 && {{hashtagslength}} <15){
	  	hashtagsarr =[
	  			{ label: "{{hashtagslist[0][0]}}",  y: {{hashtagslist[0][1]}}  },
		    	{ label: "{{hashtagslist[1][0]}}",  y: {{hashtagslist[1][1]}}  },
		    	{ label: "{{hashtagslist[2][0]}}",  y: {{hashtagslist[2][1]}}  },
		    	{ label: "{{hashtagslist[3][0]}}",  y: {{hashtagslist[3][1]}}  },
		    	{ label: "{{hashtagslist[4][0]}}",  y: {{hashtagslist[4][1]}}  },
		    	{ label: "{{hashtagslist[5][0]}}",  y: {{hashtagslist[5][1]}}  },
		    	{ label: "{{hashtagslist[6][0]}}",  y: {{hashtagslist[6][1]}}  },
		    	{ label: "{{hashtagslist[7][0]}}",  y: {{hashtagslist[7][1]}}  },
		    	{ label: "{{hashtagslist[8][0]}}",  y: {{hashtagslist[8][1]}}  },
		    	{ label: "{{hashtagslist[9][0]}}",  y: {{hashtagslist[9][1]}}  }
	  	]
	  }
	  else if({{hashtagslength}} >= 15) {
	   	hashtagsarr= [
		    	{ label: "{{hashtagslist[0][0]}}",  y: {{hashtagslist[0][1]}}  },
		    	{ label: "{{hashtagslist[1][0]}}",  y: {{hashtagslist[1][1]}}  },
		    	{ label: "{{hashtagslist[2][0]}}",  y: {{hashtagslist[2][1]}}  },
		    	{ label: "{{hashtagslist[3][0]}}",  y: {{hashtagslist[3][1]}}  },
		    	{ label: "{{hashtagslist[4][0]}}",  y: {{hashtagslist[4][1]}}  },
		    	{ label: "{{hashtagslist[5][0]}}",  y: {{hashtagslist[5][1]}}  },
		    	{ label: "{{hashtagslist[6][0]}}",  y: {{hashtagslist[6][1]}}  },
		    	{ label: "{{hashtagslist[7][0]}}",  y: {{hashtagslist[7][1]}}  },
		    	{ label: "{{hashtagslist[8][0]}}",  y: {{hashtagslist[8][1]}}  },
		    	{ label: "{{hashtagslist[9][0]}}",  y: {{hashtagslist[9][1]}}  },
		    	{ label: "{{hashtagslist[10][0]}}",  y: {{hashtagslist[10][1]}}  },
		    	{ label: "{{hashtagslist[11][0]}}",  y: {{hashtagslist[11][1]}}  },
		    	{ label: "{{hashtagslist[12][0]}}",  y: {{hashtagslist[12][1]}}  },
		    	{ label: "{{hashtagslist[13][0]}}",  y: {{hashtagslist[13][1]}}  },
		    	{ label: "{{hashtagslist[14][0]}}",  y: {{hashtagslist[14][1]}}  }
		    ]
	  }
	  else{
	  	hashtagsarr=[]
	  }
	  return hashtagsarr;
	 
	}
usersarr = usersFunction()
	
		//Better to construct options first and then pass it as a parameter
		var houroptions = {
		  animationEnabled: true,
		  title: {             
		  },
		  data: [              
		  {
		    // Change type to "doughnut", "line", "splineArea", etc.
		    color:'blue',
		    type: "column",
		    dataPoints: [
		      { label: "0",  y: {{hourdata['0']}}  },
		      { label: "1",  y: {{hourdata['1']}}  },
		      { label: "2", y: {{hourdata['2']}}  },
		      { label: "3", y: {{hourdata['3']}}  },
		      { label: "4", y: {{hourdata['4']}}  },
		      { label: "5", y: {{hourdata['5']}}  },
		      { label: "6", y: {{hourdata['6']}}  },
		      { label: "7", y: {{hourdata['7']}}  },
		      { label: "8", y: {{hourdata['8']}}  },
		      { label: "9", y: {{hourdata['9']}}  },
		      { label: "10", y: {{hourdata['10']}}  },
		      { label: "11", y: {{hourdata['11']}}  },
		      { label: "12", y: {{hourdata['12']}}  },
		      { label: "13",  y: {{hourdata['13']}}  },
		      { label: "14",  y: {{hourdata['14']}}  },
		      { label: "15",  y: {{hourdata['15']}}  },
		      { label: "16",  y: {{hourdata['16']}}  },
		      { label: "17",  y: {{hourdata['17']}}  },
		      { label: "18",  y: {{hourdata['18']}}  },
		      { label: "19",  y: {{hourdata['19']}}  },
		      { label: "20",  y: {{hourdata['20']}}  },
		      { label: "21",  y: {{hourdata['21']}}  },
		      { label: "22",  y: {{hourdata['22']}}  },
		      { label: "23",  y: {{hourdata['23']}}  }
		    ]
		  }
		  ]
		};

		var monthoptions = {
		  animationEnabled: true,
		  title: {             
		  },
		  data: [              
		  {
		    // Change type to "doughnut", "line", "splineArea", etc.
		    color:'blue',
		    type: "column",
		    dataPoints: [
		      { label: "Jan",  y: {{monthdata['1']}}  },
		      { label: "Feb", y: {{monthdata['2']}}  },
		      { label: "Mar", y: {{monthdata['3']}}  },
		      { label: "Apr", y: {{monthdata['4']}}  },
		      { label: "May", y: {{monthdata['5']}}  },
		      { label: "Jun", y: {{monthdata['6']}}  },
		      { label: "Jul", y: {{monthdata['7']}}  },
		      { label: "Aug", y: {{monthdata['8']}}  },
		      { label: "Sep", y: {{monthdata['9']}}  },
		      { label: "Oct", y: {{monthdata['10']}}  },
		      { label: "Nov", y: {{monthdata['11']}}  },
		      { label: "Dec", y: {{monthdata['12']}}  }
		    ]
		  }
		  ]
		};

		var sentimentoptions = {
			exportEnabled: true,
			animationEnabled: true,
			title:{

			},
			legend:{
				horizontalAlign: "right",
				verticalAlign: "center"
			},
			data: [{
				type: "pie",
				showInLegend: true,
				toolTipContent: "<b>{name}</b>: {y} (#percent%)",
				indexLabel: "{name}",
				legendText: "{name} (#percent%)",
				indexLabelPlacement: "inside",
				dataPoints: [
					{ y: {{sentimentdata['positive']}}, name: "Positive" },
					{ y: {{sentimentdata['negative']}}, name: "Negative" }
					
				]
			}]
		};

		var mentionsoptions = {
		  animationEnabled: true,
		  title: {             
		  },
		  data: [              
		  {
		    // Change type to "doughnut", "line", "splineArea", etc.
		    color:'blue',
		    type: "column",
		    dataPoints: mentionsFunction()
		      
		  }
		  ]
		};
		$("#chartContainermentions").CanvasJSChart(mentionsoptions);


		var hashtagsoptions = {
		  animationEnabled: true,
		  title: {             
		  },
		  data: [              
		   {
		    // Change type to "doughnut", "line", "splineArea", etc.
		    color:'blue',
		    type: "column",
		    dataPoints: hashtagsFunction()
		      
		  }
		  ]
		};
		$("#chartContainerhashtags").CanvasJSChart(hashtagsoptions);

		var usersoptions = {
		  animationEnabled: true,
		  title: {             
		  },
		  data: [              
		   {
		    // Change type to "doughnut", "line", "splineArea", etc.
		    color:'blue',
		    type: "column",
		    dataPoints: usersFunction()
		      
		  }
		  ]
		};
		$("#chartContainerusers").CanvasJSChart(usersoptions);


		$("#chartContainerhour").CanvasJSChart(houroptions);
		$("#chartContainermonth").CanvasJSChart(monthoptions);
		$("#chartContainersentiment").CanvasJSChart(sentimentoptions);
		
		
		}
		console.log(usersarr)
	</script>
	
	
{% endblock content %}