{% extends "layout.html" %}
{% block content %}
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <div class="row">	
		    <div class="col-12 col-md-8 col-lg-9">
		    	<h1 class="display-4 font-weight-bold">Twitter Analytics</h1>
		    	<p class="lead">This is an Twitter analytics application that gives you rich insights about any public Twitter profile. We gather near real-time data about topics, mentions, hashtags, followers, location and more!</p>
		    </div>
		    <div class="col-12 col-md-4 col-lg-3 d-none d-sm-none d-md-block">
		    	<img class="twitter-img" src="{{ url_for('static', filename='images/download.png') }}">
		    </div>
	    </div>
	    
	    <!-- <nav aria-label="breadcrumb"> -->
		  <ol class="breadcrumb">
		    <li class="breadcrumb-item"><a href="{{url_for('main.home')}}">Home</a></li>
		    <li class="breadcrumb-item active" aria-current="page">Twitter</li>
		  </ol>
		<!-- </nav> -->
	    <hr>
	    
		<!-- <hr> -->
		<div class="row">
				<div class="col-12 col-md-6">
					<h4>Here's how it works</h4>
					<p>
						We gather the requested user's profile and latest tweets. We analyze the tweet's contents and tell you about topics usage in form of "tag clouds" so that you can easily understand which words were the most popular.
					</p>
					<p>
						We also show you things not shown on public Twitter pages, such as join date, timezone and followers ratio. With Foller.me it's very easy and incredibly fast to make up your mind on whether to follow somebody or not!
					</p>
				</div>
				<div class="col-12 col-md-6">
					<h4>Give it a spin!</h4>
					<p>Just click following link below to explore the twitter..!</p>
					<div class="list-group">
					  <a href="#" class="list-group-item list-group-item-action"data-toggle="modal" data-target="#searchforaccount">Search for Account</a>
					  <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#hashtagmodel">Hashtag Analysis</a>
					  <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#likespredmodal">Likes & Retweets Count Prediction</a>
					  <a href="#" class="list-group-item list-group-item-action" data-toggle="modal" data-target="#botdetectionmodel">Bot detection</a>
					</div>
				</div>
			</div>
	  </div>
	</div>
	<div class="container">
		<h2>The Metrics</h2>
		<hr>
		<div class="row">
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<h6>Information</h6> 
				<hr>
				<p> 
					The info section shows the publicly available information about a requested Twitter profile. We'll also show you the user's join date and timezone among other things.
				</p>
								
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<h6>Statistics</h6>
				<hr> 
				<p> 
					These are the numbers. Followers, friends, lists and most importantly the followers to following ratio - something you should definitely watch out for before following anybody.
				</p>
				
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<h6>Topics</h6>
				<hr> 
				<p> 
					This section is divided into three sub-sections - topics, hashtags and mentions. Each one is based on the user's latest tweets. Hover your mouse over the items to see their usage.
				</p>
				
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<h6>Information</h6> 
				<hr>
				<p> 
					The info section shows the publicly available information about a requested Twitter profile. We'll also show you the user's join date and timezone among other things.
				</p>
				
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<h6>Attitude</h6> 
				<hr>
				<p> 
					<span class="badge badge-success">NEW!</span> We scan for smiley faces through the latest user's tweets and count the happy ones versus the sad ones. Not at all times valuable, but can easily spot emotions.
				</p>
				
			</div>
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<h6>Time</h6> 
				<hr>
				<p> 
					<span class="badge badge-success">NEW!</span> This section will show you what time the user's most active at. Not only valuable info about the best time to reach the user but can also spot spammers and automated accounts.
				</p>
				
			</div>
		</div>
		
	</div>
	

    

  <div class="modal fade" id="searchforaccount" tabindex="-1" role="dialog" aria-labelledby="searchforaccount" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="searchforaccount">Search for Account</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="model-body">
		    <form method="POST" action="">
		        {{ screennameform.hidden_tag() }}
		            <div class="form-group">
		                {{ screennameform.name.label(class="form-control-label") }}
		                {% if screennameform.name.errors %}
		                    {{ screennameform.name(class="form-control is-invalid") }}
		                    <div class="invalid-feedback">
		                        {% for error in screennameform.name.errors %}
		                            <span>{{ error }}</span>
		                        {% endfor %}
		                    </div>
		                {% else %}
		                    {{ screennameform.name(class="form-control", placeholder="screen name") }}
		                {% endif %}
		            </div>
		        <div class="form-group">
		            {{ screennameform.search(class="btn btn-outline-info submit", type="submit") }}
		        </div>
		    </form>        	
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="botdetectionmodel" tabindex="-1" role="dialog" aria-labelledby="botdetectionmodel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="botdetectionmodel">Bot Account Prediction</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="model-body">
		    <form method="POST" action="">
		        {{ botform.hidden_tag() }}
		            <div class="form-group">
		                {{ botform.name.label(class="form-control-label") }}
		                {% if botform.name.errors %}
		                    {{ botform.name(class="form-control is-invalid") }}
		                    <div class="invalid-feedback">
		                        {% for error in botform.name.errors %}
		                            <span>{{ error }}</span>
		                        {% endfor %}
		                    </div>
		                {% else %}
		                    {{ botform.name(class="form-control", placeholder="screen name") }}
		                {% endif %}
		            </div>
		        <div class="form-group">
		            {{ botform.submit(class="btn btn-outline-info submit", type="submit") }}
		        </div>
		    </form>        	
        </div>
      </div>
    </div>
  </div>

    <div class="modal fade" id="hashtagmodel" tabindex="-1" role="dialog" aria-labelledby="hashtagmodel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="hashtagmodel">Hash tag analysis</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="model-body">
		    <form method="POST" action="">
		        {{ hashtagform.hidden_tag() }}
		            <div class="form-group">
		                {{ hashtagform.hashtag.label(class="form-control-label") }}
		                {% if hashtagform.hashtag.errors %}
		                    {{ hashtagform.hashtag(class="form-control is-invalid") }}
		                    <div class="invalid-feedback">
		                        {% for error in hashtagform.hashtag.errors %}
		                            <span>{{ error }}</span>
		                        {% endfor %}
		                    </div>
		                {% else %}
		                    {{ hashtagform.hashtag(class="form-control", placeholder="Hash tag") }}
		                {% endif %}
		            </div>
		        <div class="form-group">
		            {{ hashtagform.hashtagsubmit(class="btn btn-outline-info submit", type="submit") }}
		        </div>
		    </form>        	
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="likespredmodal" tabindex="-1" role="dialog" aria-labelledby="likespredmodal" aria-hidden="true">
    <div class="modal-dialog new-forum-modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="likespredmodal">Likes & ReTweets Prediction</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="model-body new-forum-modal-body">
          <form method="POST" action="">
              {{ tweetform.hidden_tag() }}
              <fieldset class="form-group">
                  <legend class="border-bottom mb-4">{{ legend }}</legend>
                  <div class="form-group">
                      {{ tweetform.name.label(class="form-control-label") }}
                      {% if tweetform.name.errors %}
                          {{ tweetform.name(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in tweetform.name.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ tweetform.name(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
                  <div class="form-group">
                      {{ tweetform.tweet.label(class="form-control-label") }}
                      {% if tweetform.tweet.errors %}
                          {{ tweetform.tweet(class="form-control form-control-lg is-invalid") }}
                          <div class="invalid-feedback">
                              {% for error in tweetform.tweet.errors %}
                                  <span>{{ error }}</span>
                              {% endfor %}
                          </div>
                      {% else %}
                          {{ tweetform.tweet(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
                  
              </fieldset>
              <div class="form-group">
                  {{ tweetform.likespredict(class="btn btn-outline-info") }}
              </div>
          </form>       
        </div>
      </div>
    </div>
  </div>
  
  
{% endblock content %}

{% block scripts %}
	<script type="text/javascript">
	    $(window).on('load',function(){
	        $('#{{predtweetmodal}}').modal('show');
	        $('#{{hashtagmodal}}').modal('show');
	        $('#{{botmodal}}').modal('show');
	        $('#{{screennamemodal}}').modal('show');
	    });

	</script>
{% endblock scripts %}