{% extends "layout.html" %}
{% block content %}

<div class="container">
	<div class="row">
  		<div class="col-md-2">
  			<img src="{{user.profile_image_url}}" alt="" class="img-thumbnail">
  		</div>
  		<div class="col-md-10">
  			<span class="account-name">{{user.name}} @{{user.screen_name}} <hr></span>
  			<p>{{user.description}}</p>
  		</div>
  		
  	</div>
</div>
<br>
<br>
<div class="container">
	<div>
		<h3>No. of Likes Prediction</h3>
		<hr style="height:2px;border:none;color:#333;background-color:#333;">
		<h5 class="text-center">Your Text</h5>
		<p class="text-center">{{pred_text[0]}}</p>
		<h6 class="text-center">Likes Prediction: {{result}}</h6>
		<hr>
		<div class="row">
      		<div class="col-md-4">
        		<h4>Likes</h4>
        		<p>This line chart shows the number of likes per tweet based on the latest tweets.</p>
      		</div>
      		<div class="col-md-8">
 				<div id="chartContainerlikes" style="height: 200px; width: 100%;"></div>
      		</div>
    	</div>		

		
	</div>
	<br>
	<br>
	<div>
		<h3>No. of Retweets Prediction</h3>
		<hr style="height:2px;border:none;color:#333;background-color:#333;">
		<h5 class="text-center">Your Text</h5>
		<p class="text-center">{{pred_text[0]}}</p>
		<h6 class="text-center">Retweets Prediction: {{retweet_result}}</h6>
		<hr>
	    <div class="row">
	      <div class="col-md-4">
	        <h4>Retweets</h4>
	        <p>This line chart shows the number of retweets per tweet based on the latest tweets.</p>
	      </div>
	      <div class="col-md-8">
	        <div id="chartContainerretweet" style="height: 200px; width: 100%;"></div>
	      </div>
	    </div>
		
	</div>
	
</div>
<script>
	tweetcount={{tweetcount}};
	likes = {{likes}};
	retweetscount = {{retweetscount}};
	dataarr=[];
	retweetarr=[];
	for (var i = 0; i <tweetcount.length; i++) {
	  a ={ label: tweetcount[i] ,  y: likes[i]  };
	  b = { label: tweetcount[i] ,  y: retweetscount[i]  };
	  dataarr.push(a);
	  retweetarr.push(b);
	}

	window.onload = function () {

	//Better to construct options first and then pass it as a parameter

	var optionstwo = {
		animationEnabled: true,
	  title: {             
	  },
	  data: [              
	  {
	    // Change type to "doughnut", "line", "splineArea", etc.
	    color:'blue',
	    type: "line",
	    dataPoints: dataarr
	      
	  }
	  ]
	};
		var options = {
			animationEnabled: true,
	  title: {             
	  },
	  data: [              
	  {
	    // Change type to "doughnut", "line", "splineArea", etc.
	    color:'blue',
	    type: "line",
	    dataPoints: retweetarr
	      
	  }
	  ]
	};


	$("#chartContainerlikes").CanvasJSChart(optionstwo);
	$("#chartContainerretweet").CanvasJSChart(options);


	}
</script>


{% endblock content %}
