body {
  background: #fafafa;
  color: #333333;
  margin-top: 3.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}
.twitter-img{
  height: :200px;
  width: 200px;
}
.home-img{
  height: 100px;
  width: 100px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}
.user-details-header{
  background-color: #5f788a;
}
.account-name {
  font-size: 1.2rem;
}
.jumbotron {
  margin-top: 0px;
}
.mycarousal{
  height: 400px;
}
.myfooter{
  background-color: #5f788a;
  margin-top: 0px;
}
.new-forum-modal-dialog{
  max-width: 700px;
}
.new-forum-modal-body{
  margin-left: 10px;
  margin-right: 10px;
}
.footer-fonts{
  color: white;
}
.footer-container{
  margin-top: 10px;
}